@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
/* Nav bar Height */
/* Fonts */
body {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 16px;
}

h1 {
  font-family: 'Lato';
  font-size: 64px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

h2 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 48px;
}

h3 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 26px;
}

h4 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 22px;
}

h5 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 20px;
}

h6 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

/* Colors */
/* Shadow */
/* card */
/* button active effect*/
#docs-main {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
}

#docs-main .docs-aside {
  width: 20%;
  margin-top: 103px;
  font-size: 24px;
}

#docs-main .docs-aside ul {
  padding-left: 20px;
}

#docs-main .docs-aside ul li {
  border-left: 4px solid #bfbfbf;
  padding: 30px 20px 10px 40px;
  color: #808080;
}

#docs-main .docs-aside ul li.current {
  color: #000;
  border-left: 4px solid #4568f2;
}

#docs-main .docs-aside ul li .link {
  color: inherit;
  text-decoration: none;
}

#docs-main #contents-container {
  width: 80%;
}

#docs-main #contents-container .mobile-chart-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

#docs-main #contents-container .mobile-chart-menu span {
  display: block;
  background-color: #4568f2;
  width: 30px;
  height: 4px;
  border-radius: 4px;
  transition: .5s;
}

#docs-main #contents-container .mobile-chart-menu span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  transition-delay: .125s;
}

#docs-main #contents-container .mobile-chart-menu span:nth-child(2) {
  opacity: 0;
}

#docs-main #contents-container .mobile-chart-menu span:nth-child(3) {
  transform: translateY(-3px) rotate(315deg);
  transition-delay: .25s;
}

#docs-main #contents-container .mobile-chart-menu.on span:nth-child(1) {
  transform: translateY(-6px);
}

#docs-main #contents-container .mobile-chart-menu.on span:nth-child(2) {
  opacity: 1;
}

#docs-main #contents-container .mobile-chart-menu.on span:nth-child(3) {
  transform: translateY(6px);
}
