@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
/* Nav bar Height */
/* Fonts */
body {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 16px;
}

h1 {
  font-family: 'Lato';
  font-size: 64px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

h2 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 48px;
}

h3 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 26px;
}

h4 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 22px;
}

h5 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 20px;
}

h6 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

/* Colors */
/* Shadow */
/* card */
#chart-main .chart-content .chart, #chart-main .chart-content .copyBoard {
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  background-color: #fff;
}

/* button active effect*/
a {
  display: block;
}

#chart-main {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
}

#chart-main > div {
  width: 80%;
}

#chart-main > div .mobile-chart-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 30px;
}

#chart-main > div .mobile-chart-menu span {
  display: block;
  background-color: #4568f2;
  width: 25px;
  height: 4px;
  border-radius: 4px;
  transition: .5s;
}

#chart-main > div .mobile-chart-menu span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  transition-delay: .125s;
}

#chart-main > div .mobile-chart-menu span:nth-child(2) {
  opacity: 0;
}

#chart-main > div .mobile-chart-menu span:nth-child(3) {
  transform: translateY(-3px) rotate(315deg);
  transition-delay: .25s;
}

#chart-main > div .mobile-chart-menu.on span:nth-child(1) {
  transform: translateY(-6px);
}

#chart-main > div .mobile-chart-menu.on span:nth-child(2) {
  opacity: 1;
}

#chart-main > div .mobile-chart-menu.on span:nth-child(3) {
  transform: translateY(6px);
}

#chart-main .chart-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 30px 0;
}

#chart-main .chart-content .chart {
  height: 400px;
  padding: 20px;
}

#chart-main .chart-content .chart > div {
  height: 100%;
}

#chart-main .chart-content .copyBoard {
  text-overflow: ellipsis;
  height: 280px;
}

#chart-main .chart-content .copyBoard .copyBoard-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#chart-main .chart-content .copyBoard .copyBoard-inner img {
  color: #50d457;
  top: 10px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}

#chart-main .chart-content .copyBoard .copyBoard-inner img:active {
  opacity: .65;
  box-shadow: none;
}

#chart-main .chart-content .copyBoard .copyBoard-inner div {
  border-radius: 0 0 8px 8px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  width: 100%;
  height: 230px;
  background-color: #f0f2f3;
}

.chart-aside {
  width: 20%;
  margin-top: 103px;
}

.chart-aside .items {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chart-aside .items .item {
  font-size: 24px;
}

.chart-aside .items .item a {
  padding: 10px;
  text-decoration: none;
}

.chart-aside .items .item a.focused {
  background-color: #889ecb;
  color: #fff;
}

.chart-aside .items .item a img {
  font-size: 30px;
  float: right;
}

.chart-aside .items .item .sub-items {
  font-size: 20px;
  max-height: 0;
  overflow: hidden;
  transition: .5s;
}

.chart-aside .items .item .sub-items:target {
  max-height: 400px;
}

.chart-aside .items .item .sub-items a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 30px;
}

.chart-aside .items .item .sub-items a:hover {
  background-color: #f4f6f8;
}
