@import '../../scss/variables.scss';
// 데스크탑 Home
#home-main {
	padding-top: $nav-height;
	height: 100vh;
	
	.colored {
		background-color: map-get($color, nav-bgc);
		height: (400/1024) * 100vh;
		position: relative;
		.title {
			position: absolute;
			bottom: -90px;
			left: 50%;
			transform: translateX(-50%);
			width: 525px;
			text-align: center;
			
			>h1 {
				background: linear-gradient(96.46deg, #5F6DFF 3.72%, #3178C6 31.05%, #FCCD9D 49.85%, #FCAE56 68.54%, #FCAE56 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	.uncolored {
		height: (1 - 480/1024) * 100vh;
		position: relative;
		>p {
			width: 490px;
			padding-left: 20px;
			margin: 0 auto;
			padding-top: 100px;
		}
		>.company-logo {
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			align-items: center;
			> span {
				display: inline-block;
				color: #b2b7be;
				font-size: 1.25em;
				padding-bottom: 20px;
				padding-left: 10px;
			}
			>.logos {
				padding: 0 20px;
				display: flex;
				align-items: center;
				width: 500px;
				justify-content: space-between;

				div:nth-child(1) {
					span {
						margin-left: 8px;
						color: #3178c6;
						font-size: 1.5em;
					}
				}

				div:nth-child(2) {
					span {
						margin-left: 8px;
						color: #f99e40;
						font-size: 1.5em;
					}
				}
			}
		}
	}

	.btn_demo {
		@include button-big;
		background-color: map-get($color, focus);
		width: 180px;
		height: 42px;
		border-radius: 26px;
		border: none;
		box-shadow: $box-shadow;
		color: #fff;
		display: inline-block;
		text-align: center;
		position: absolute;
		top: 74%;
		left: 50%;
		transform: translateX(-50%);
		@include button-active-effect;
	}
}

/* 모바일 Home */
@mixin mobile-home {
  header {
    display: none;
  }
  #home-main {
    padding-top: $mobile-nav-height;
    .colored {
      background-color: map-get($color, nav-bgc);
      .title {
        top: 16%;
        width: 335px;
        height: 96px;
        >h1 {
          font-size: 2rem;
        }
      }
    }

    .uncolored {
      >p {
        padding-top: 20px;
        width: 225px;
        margin: 19px auto 0 auto;
      }

      .company-logo {
        margin-top: 50px;

        .logos {
          width: 200px;

          span {
            display: none;
          }
        }
      }
    }

    .btn_demo {
      top: 39%;
      width: 140px;
      height: 40px;
    }
  }
}