@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
/* Nav bar Height */
/* Fonts */
body {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 16px;
}

h1 {
  font-family: 'Lato';
  font-size: 64px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

h2 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 48px;
}

h3 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 26px;
}

h4 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 22px;
}

h5 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 20px;
}

h6 {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  line-height: 1.2em;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-family: "Inter", "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

/* Colors */
/* Shadow */
/* card */
/* button active effect*/
#contents-container {
  padding: 30px 70px;
  border-left: 1px solid #adadba;
}

#contents-container > div {
  position: relative;
}

#contents-container > div h2 {
  padding-bottom: 15px;
  border-bottom: 1px solid #adadba;
}
